<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add book</title>
</head>
<body>
    <form action="/add" method="POST">
        BookId --> <input type="text" name="bookId" required>
        BookName --> <input type="text" name="bookName"  required>
        BookAuthor --> <input type="text" name="bookAuthor" required>
        BookPrice --> <input type="text" name="bookPrice" required>
        <input type="submit" value="Add">
     </form>
</body>
</html>